*{margin: 0;padding: 0;}
body,html,ul,li,p,h1,h2,h3,h4,h5,hr{margin: 0;padding: 0;font-family:NotoSansHans-Medium;}
li{list-style: none;}
.leftF{float: left;}
.rightF{float: right;}
.clear{clear: both;}
.page{margin: 0;padding:0;padding-top: 46px;}
html{font-size: .12rem;background: #ffffff;}
input{border: 1px solid #cccccc;outline: none;}
input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #c3c3c3;
}
input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
color: #c3c3c3;
}
input::-moz-placeholder { /* Mozilla Firefox 19+ */
color: #c3c3c3;
}
input:-ms-input-placeholder { /* Internet Explorer 10-11 */
color: #c3c3c3;
}
.van-nav-bar .van-icon {
    color: #969799;
}